#define base00 #34343b
#define base01 #3a3c4e
#define base02 #4d4f68
#define base03 #626483
#define base04 #62d6e8
#define base05 #e9e9f4
#define base06 #f1f2f8
#define base07 #f7f7fb
#define base08 #ea51b2
#define base09 #b45bcf
#define base0A #00f769
#define base0B #ebff87
#define base0C #a1efe4
#define base0D #62d6e8
#define base0E #b45bcf
#define base0F #00f769

Xft.dpi: 130
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: 0
Xft.lcdfilter:  lcddefault

Xcursor.size: 48
Xcursor.theme: Oxygen_White

URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.intensityStyles: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.borderlLess: false
URxvt.internalBorder: 40
URxvt.externalBorder: 0
URxvt.saveLines: 20000
URxvt.borderColor: base00
URxvt.perl-ext-common: default,matcher,clipboard,vtwheel,resize-font,url-select,keyboard-select
URxvt.url-launcher: /usr/bin/chromium
URxvt.depth: 24
URxvt.transparent: false
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true
!! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! matcher
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
!! resize-font
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
!!URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

!!*font: IBM Plex Mono:light:size=13
URxvt.font: xft:NotoMono Nerd Font Mono:size=13
*alpha:        1.0
*borderpx:     20

! special
*.foreground:   #f8f8f2
*.background:   #31313a
*.cursorColor:  #f8f8f2

! black
*.color0:       #31313a
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5

rofi.color-enabled: true
rofi.color-window: base00, base00, base01
rofi.color-normal: base00, #657b83, base00, base00, base0C 
rofi.color-active: base00, #657b83, base00, base00, base0C 
rofi.color-urgent: base00, #657b83, base00, base00, base0C 

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.font: NotoMono Nerd Font Mono 18
rofi.columns: 2
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
rofi.fullscreen: true
rofi.padding: 700
rofi.bw: 0
